body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar h2 {
    font-weight: 600;
    white-space: nowrap;
}

body {
    background-color: #f882b3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-1 {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.btn {
    background-color: #ff006a;
    color: white;
    gap: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #fc4490;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a {
    gap: 50px;
    color: white;
    text-decoration: none;
}

.heading-1 {
    font-style: italic;
    background: linear-gradient(90deg,
            rgb(255, 0, 0) 28%,
            rgb(236, 15, 144) 66%,
            rgb(148, 1, 1) 85%,
            rgba(191, 214, 98, 1) 100%,
            rgba(237, 221, 83, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-1:hover {
    color: #ff008c;
    box-shadow: #000000;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;

}

.heading-3 {
    font-style: italic;
    background: linear-gradient(90deg,
            rgb(255, 0, 0) 28%,
            rgb(236, 15, 144) 66%,
            rgb(148, 1, 1) 85%,
            rgba(191, 214, 98, 1) 100%,
            rgba(237, 221, 83, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
    font-weight: 800px;
    animation-name: pulse;
    animation-duration: 2s;

}

.heading-3:hover {
    font-style: italic;
    background: linear-gradient(90deg,
            rgb(255, 0, 0) 28%,
            rgb(236, 15, 144) 66%,
            rgb(148, 1, 1) 85%,
            rgba(191, 214, 98, 1) 100%,
            rgba(237, 221, 83, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    font-size: 65px;
    font-weight: 800px;
    animation: pulse 2s infinite;

    cursor: pointer;

}


.img-1 {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #ff006a solid 2px;
}

.img-1:hover {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0px 15px 25px #000000;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.header-img {
    width: 200px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.header-img:hover {
    width: 200px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #000;
    animation-name: zoom-in;
    animation-duration: 2s;
    cursor: pointer;
}

.img-2 {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #ff006a solid 2px;
}

.img-2:hover {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0px 15px 25px #000000;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.img-3 {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #ff006a solid 2px;

}

.img-3:hover {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0px 15px 25px #000000;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.img-4 {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #ff006a solid 2px;
}

.img-4:hover {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0px 15px 25px #000000;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}



.section-services {
    background-color: #fa56c3;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);
    padding: 30px;

}

.section-services:hover {
    background-color: #f854b9;
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.btn-01 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
     background: linear-gradient(90deg,
            rgb(255, 0, 0) 28%,
            rgb(236, 15, 144) 66%,
            rgb(148, 1, 1) 85%,
            rgba(191, 214, 98, 1) 100%,
            rgba(237, 221, 83, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #85366d;
    border: 2px solid black;
    border-radius: 25px;
}

.btn-01:hover {
    font-size: 40px;
    font-style: bold;
    background-color: #530202;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(128, 2, 71);


}

.about-para {
    font-style: italic;
}

.about-para:hover {
    font-style: italic;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(121, 3, 3, 0.4);
    cursor: pointer;
    font-size: 20px;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.footer {
    background-color: #b95c8a;
    color: #fff;
    padding: 50px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1000px;
    margin: auto;
}

.github-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}

.row-footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 40px;
    color: #000000;
}

.footer-para {
    font-size: 20px;
    color: #000;
}


.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #f8b400;
    padding-left: 5px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-para {
    font-size: 20px;
}




@media (max-width: 768px) {
    .navbar .container-fluid {
        flex-direction: column;
        gap: 10px;
    }

    .navbar h2 {
        font-size: 1.5rem;
    }

    .row-footer-row {
        flex-direction: column;
        text-align: center;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .navbar .container-fluid {
        flex-direction: column;
        gap: 10px;
    }

    .navbar h2 {
        font-size: 1.2rem;
    }

}